body {
  box-sizing: border-box;
  background-color: #6495ED;
}

Navigation bar: 
Program/Recipe For Success/ Metabolism Calculator/ Book A Call

.main-container {
  display: flex;
  flex-direction: column;
}
  

nav {
  background-color: #444444;
  color: #444444;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
    }

 nav a {
  color: #E67E22;
  text-decoration: none;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: transform 0.3s ease, color 0.3s ease;
    }


 nav a:hover {
  color: #f04e30; /* Bright red or accent */
  transform: scale(1.15);
    }

.header-container {
  display: flex;
  flex-direction: column;
}


.name-header {
  display: flex;
  justify-content: left;
  font-family: 'Bangers', cursive;
  font-size: 2.5rem;
  color: #E67E22;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7); 
  letter-spacing: 2px;
  text-transform: uppercase;
}


.super-header {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  color: #EG7E22;
  text-shadow: 2px 2px 5px #ffffff;
  letter-spacing: 2px;
  text-transform: uppercase;
}
 
